<h1>Palos</h1>

<%= link_to 'New Palo', new_palo_path %>

<% @palos.each do |palo| %>
  <div>
    <h2><%= link_to palo.title, palo_path(palo) %></h2>
    <p><%= truncate(palo.content, length: 100) %></p>
    <%= link_to 'Edit', edit_palo_path(palo) %>
    <%= link_to 'Delete', palo_path(palo), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>